<template>
    <div id="about">

        <h1>About Clavigero</h1>

        <div class="row justify-content-center">
            <div class="col-lg-8">

                <blockquote class="blockquote my-5">
                    <p class="mb-0">With great power comes great responsibility</p>
                    <footer class="blockquote-footer"><cite title="Uncle Ben">Uncle Ben</cite>, Spiderman</footer>
                </blockquote>

            </div>
        </div>

        <p>
            The <strong>Clavigero</strong> is the
            <a href="https://www.ilpost.it/2018/06/24/gianni-crea-clavigero-musei-vaticani/" target="_blank">
                custodian of the Vatican keys
            </a>.
            <br>
            This project wants to be an archive of the access keys to the various systems and services. Honor to the old <em>Keyring</em>.
        </p>



    </div>
</template>

<script>
export default {
    name: 'pages-about',
    data() {
        return{
            name: 'Clavigero'
        }
    },
    mounted() {
        console.log('Component about mounted.')
    }
}
</script>
