<template>
    <form class="app-fastsearch" :action="searchUrl" method="get">
        <div class="input-group">
            <input name="key" type="search" class="form-control" placeholder="Search..." v-model="key">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="submit">Search</button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    name: 'app-fastsearch',
    data(){
        return {
            key: ''
        }
    },
    methods: {
        searchUrl(){
            var search = this.$router.resolve({ name: 'search' });
            // console.log(search);
            return search.href;
        }
    }
}
</script>
