<template>
    <div id="app-main">

        <div class="container-fluid">
            <div class="row">

                <aside class="col-lg-2">

                    <div class="wrapper">
                        <app-menu></app-menu>
                    </div>

                </aside>
                <main class="col-lg-10">

                    <div class="wrapper">
                        <div class="container">

                            <app-flash></app-flash>
                            <router-view></router-view>

                        </div>
                    </div>

                </main>

            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'app-main'
}
</script>
