<template>
    <div id="app-menu">

        <h1>Clavigero</h1>

        <hr>

        <div v-if="!logged">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'home' }">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'login' }">Login</router-link>
                </li>
            </ul>
        </div>

        <div v-if="logged">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'home' }">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'dashboard' }">Dashboard</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'about' }">About</router-link>
                </li>
                <li class="nav-item">
                    <hr>
                </li>
                <!-- <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'usersindex' }">Users</router-link>
                </li> -->
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'credentialsindex' }">Credentials</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'search' }">Search</router-link>
                </li>
                <li class="nav-item">
                    <hr>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'logout' }">Logout</router-link>
                </li>
            </ul>

            <a href="https://bitbucket.org/andrearufo/clavigero" class="btn btn-block btn-outline-primary mt-5">
                <i class="fab fa-bitbucket pr-3"></i>
                Push your contribute
            </a>
        </div>

    </div>
</template>

<script>
export default {
    name: 'app-menu',
    computed: {
        logged(){
            return this.$store.getters.loggedIn;
        },
        currentUser(){
            return this.$store.getters.currentUser;
        }
    }
}
</script>
