$alternative: #f8fafc;
$primary: #40739e;
$font-family-sans-serif: 'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i&display=swap');
@import '~bootstrap/scss/bootstrap';

aside,
main{
    .wrapper{
        padding: $spacer;
        min-height: 100vh;
    }
}

aside{
    border-right: 1px solid $border-color;

    .wrapper{
        @extend .sticky-top;
    }
}

main{
    background: $alternative;
}

.compiled{
    pre{
        @extend .card;
        @extend .card-body;
    }
}
