<template>
    <div id="credential-parts-grid">

        <div class="row">
            <div class="col-lg-4" v-for="credential in credentialsList" v-if="!credential.revision">

                <div class="card mb-3">
                    <div class="card-body text-center">

                        <div class="text-uppercase text-muted">{{ credential.type }}</div>
                        <h5 class="card-title">{{ credential.title }}</h5>
                        <div>
                            <router-link class="btn btn-outline-primary" :to="{ name: 'credentialsshow', params: { id: credential.id } }">
                                Show details
                            </router-link>
                            <button class="btn btn-outline-secondary" disabled>Score: {{ credential.score.sum }}</button>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        <small>
                            Update {{ showDate(credential.updated_at) }}
                            <span v-if="usersList[credential.user_id] != undefined">by {{ usersList[credential.user_id].name }}</span>
                        </small>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'credentials-parts-grid',
    props: {
        credentials: Array
    },
    computed: {
        credentialsList(){
            return _.orderBy(this.credentials, 'title');
        },
        usersList(){
            return _.keyBy(this.users, 'id');
        }
    },
    data() {
        return{
            users: false
        }
    },
    methods: {
        getUsers(){
            this.$store.dispatch('getUsers').then(response => {
                this.users = response.data;
            }).catch(error => {
                console.log(error);
            });
        },
        showDate(datetime){
            return moment(datetime).format('D/M/Y');
        }
    },
    mounted() {
        this.getUsers();
    }
}
</script>
