<template>
    <div id="credential-parts-mask">

        <form action="#" method="post" @submit.prevent="storeCredential">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control form-control-lg" type="text" name="title" v-model="value.title" placeholder="Get a title" required>
            </div>

            <div class="form-group">
                <label for="type">Type</label>
                <credentials-parts-selecttype v-model="value.type"></credentials-parts-selecttype>
            </div>

            <div v-if="value.type != ''">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" v-model="value.infos.username">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" name="password" class="form-control" v-model="value.infos.password">
                </div>

                <div v-if="value.type == 'login' || value.type == 'email'">
                    <!-- Generic -->

                    <div class="form-group">
                        <label for="url">Login page url</label>
                        <input type="url" name="url" class="form-control" v-model="value.infos.url">
                    </div>

                </div>

                <div v-if="value.type == 'ftp' || value.type == 'ssh' || value.type == 'mysql'">
                    <!-- FTP or sFTP -->

                    <div class="row">
                        <div class="form-group col-lg-10">
                            <label for="host">Host</label>
                            <input type="text" name="host" class="form-control" v-model="value.infos.host">
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="port">Port</label>
                            <input type="number" min="0" step="1" name="port" class="form-control" v-model="value.infos.port" :placeholder="ux.placeholders.port">
                        </div>
                    </div>

                </div>

                <div v-if="value.type == 'ftp' || value.type == 'ssh'">

                    <div class="form-group">
                        <label for="path">Folder path</label>
                        <input type="text" name="path" class="form-control" v-model="value.infos.path">
                    </div>

                </div>

                <hr>

                <div class="form-group" v-for="(other, index) in value.infos.other" :key="index">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="text" class="form-control" v-model="other.name" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" v-model="other.value" placeholder="Value">
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-block btn-danger" @click="removeOtherField(index)">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>

                <div class="text-right">

                    <button type="button" class="btn btn-secondary" @click="addOtherField">
                        Add other field
                    </button>

                </div>

                <hr>

                <div class="form-group">
                    <label for="note">Note</label>
                    <textarea rows="4" name="note" class="form-control" v-model="value.infos.note"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">
                    Save
                </button>

            </div>

        </form>

    </div>
</template>

<script>
export default {
    name: 'credential-parts-mask',
    props: {
        value: Object
    },
    data(){
        return {
            ux:{
                placeholders: {
                    port: null
                }
            }
        }
    },
    watch: {
        'value.type': {
            handler(current, old){
                if(current == 'ftp'){
                    this.ux.placeholders.port = 21;
                }else if(current == 'ssh'){
                    this.ux.placeholders.port = 22;
                }else if(current == 'mysql'){
                    this.ux.placeholders.port = 3306;
                }else{
                    this.ux.placeholders.port = null;
                }
                return;
            }
        }
    },
    methods: {
        addOtherField(){
            console.log('Add a field!');
            this.value.infos.other.push({
                name: '',
                value: ''
            });
            console.log(this.value.infos.other);
        },
        removeOtherField(index){
            this.value.infos.other.splice(index, 1);
        },
        storeCredential(){
            this.$store.dispatch('storeCredential', this.value).then(response => {
                this.$router.push({ name: 'credentialsshow', params: { id: response.data.id } });
            }).catch(error => {
                console.log(error);
            });
        }
    }
}
</script>
