<template>
    <div id="credential-parts-results">

        <div class="card mb-3" v-for="credential in credentialList">
            <div class="card-body">

                <h5 class="card-title">
                    {{ credential.title }}
                    <small class="text-uppercase">{{ credential.type }}</small>
                </h5>

                <p v-html="searchKey(credential.infos)"></p>

                <router-link class="btn btn-outline-primary" :to="{ name: 'credentialsshow', params: { id: credential.id } }">Show details</router-link>
                <button class="btn btn-outline-secondary" disabled>Score: {{ credential.score.sum }}</button>

            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'credentials-parts-results',
    props: {
        credentials: Array,
        params: Object,
    },
    computed: {
        credentialList(){
            var self = this;
            var list = this.credentials;

            if( self.params.type != undefined ){
                console.log('filter by type');
                list = _.filter(list, ['type', self.params.type]);
            }

            if( self.params.key != undefined ){
                console.log('filter by key');
                list = _.filter(list, function(item){
                    var str1 = JSON.stringify(item.infos);
                    var str2 = JSON.stringify(item.title);
                    return (str1.search(self.params.key) != -1 || str2.search(self.params.key) != -1);
                });
            }

            list = _.orderBy(list, 'score.sum', 'desc');

            return list
        }
    },
    methods: {
        searchKey(infos){
            if( this.params.key === undefined || this.params.key == '' )
                return infos;

            var str = JSON.stringify(infos);
            var position = str.search(this.params.key);

            var pieces = [
                str.slice(0, position),
                '<span class="bg-warning">',
                str.slice(position, position+this.params.key.length),
                '</span>',
                str.slice(position+this.params.key.length)
            ];
            return pieces.join('');
        }
    }
}
</script>
