<template>
    <div class="credentials-parts-selecttype">
        <select name="type" class="form-control" :value="value" @input="$emit('input', $event.target.value)">
            <option value=""></option>
            <option
                v-for="option, optionvalue in options"
                :key="optionvalue"
                :value="optionvalue"
            >{{ option }}</option>
        </select>
    </div>
</template>

<script>
export default {
    name: 'credentials-parts-selecttype',
    props: {
        value: String
    },
    data() {
        return {
            options: {
                ftp: 'FTP',
                ssh: 'SSH or sFTP',
                mysql: 'MySQL',
                email: 'Email',
                login: 'Login',
                generic: 'Generic'
            }
        }
    }
}
</script>
