<template>
    <div id="dashboard">

        <h1>Dashboard</h1>

        <p>Welcome inside</p>

        <pre>User: {{ user }}</pre>

    </div>
</template>

<script>
export default {
    name: 'dashboard',
    data(){
        return {
            user: null,
        }
    },
    methods: {
        getUser(){
            this.$store.dispatch('getCurrentUser').then(response => {
                this.user = response.data;
            }).catch(error => {
                console.log(error);
            });
        }
    },
    mounted(){
        this.getUser();
    }
}
</script>
