<template>
    <div id="home">

        <div class="row justify-content-center align-items-center" style="height: 100vh">
            <div class="col-lg-6">

                <img src="/logo.svg">

            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'home',
    data() {
        return{
            name: 'Clavigero'
        }
    },
    mounted() {
        console.log('Component home mounted.')
    }
}
</script>
