<template>
    <div id="login">

        <h1>Login</h1>

        <div class="alert alert-danger" v-if="ux.error">Error in login!</div>

        <form action="#" method="post" @submit.prevent="login">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" v-model="auth.email" required>
                <small class="form-text text-muted">Try <code>john@example.org</code></small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" v-model="auth.password" required>
                <small class="form-text text-muted">Try <code>password</code></small>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <router-link :to="{ name: 'recover' }" class="btn btn-outline-secondary">Recover password</router-link>
        </form>

    </div>
</template>

<script>
export default {
    name: 'login',
    data(){
        return {
            ux: {
                error: false,
            },
            auth: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        login(){
            this.$store.dispatch('login', {
                username: this.auth.email,
                password: this.auth.password
            }).then(response => {
                this.$router.push({ name: 'dashboard' });
            }).catch(error => {
                console.log(error);
                this.ux.error = true;
            });
        }
    },
    mounted() {
        console.log('Component login mounted.');
    }
}
</script>
