<template>
    <div id="logout">
        Loading... You are going to logout Clavigero: see you soon!
    </div>
</template>

<script>
export default {
    name: 'logout',
    created() {
        this.$store.dispatch('logout').then(response => {
            this.$router.push({ name: 'login' });
        });
    }
}
</script>
