<template>
    <div id="recover">

        <h1>Recover password</h1>

        <div class="alert alert-danger" v-if="ux.error">Error in recover!</div>

        <form action="#" method="post" @submit.prevent="recover">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" v-model="auth.email" required>
                <small class="form-text text-muted">Try <code>john@example.org</code></small>
            </div>

            <button type="submit" class="btn btn-primary">Recover password</button>
        </form>

    </div>
</template>

<script>
export default {
    name: 'recover',
    data(){
        return {
            ux: {
                error: false,
            },
            auth: {
                email: '',
            }
        }
    },
    methods: {
        recover(){
            this.$store.dispatch('recover', {
                username: this.auth.email,
            }).then(response => {
                this.$router.push({ name: 'login' });
            }).catch(error => {
                console.log(error);
                this.ux.error = true;
            });
        }
    },
    mounted() {
        console.log('Component recover mounted.');
    }
}
</script>
