<template>
    <div id="search">

        <h1>Search</h1>

        <form action="#" method="post" @submit.prevent="searchCredentials">
            <div class="row align-items-end">
                <div class="form-group col-lg-4">
                    <label for="type">Type</label>
                    <credentials-parts-selecttype v-model="params.type"></credentials-parts-selecttype>
                </div>
                <div class="form-group col-lg-8">
                    <label for="key">Keyword</label>
                    <input type="text" name="key" class="form-control" v-model="params.key">
                </div>
            </div>
        </form>

        <hr>

        <credentials-parts-results :credentials="credentials" :params="params" v-if="credentials"></credentials-parts-results>

    </div>
</template>

<script>
export default {
    name: 'search',
    data(){
        return {
            params: {
                type: this.$route.query.type,
                key: this.$route.query.key
            },
            credentials: []
        }
    },
    watch: {
        // 'params': {
        //     handler(current, old){
        //         console.log('Update url');
        //     },
        //     deep: true
        // }
    },
    methods: {
        getCredentials(){
            this.$store.dispatch('getCredentials').then(response => {
                this.credentials = response.data;
                this.updateUrl();
            }).catch(error => {
                console.log(error);
            });
        },
        updateUrl(){
            return; // TODO
        }
    },
    mounted(){
        this.getCredentials();
    }
}
</script>
