<template>
    <div id="users-home">

        <h1>Users add</h1>

        <form class="#" method="post" @submit.prevent="storeUser">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" v-model="user.name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" v-model="user.email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" v-model="user.password">
            </div>

            <button type="submit" class="btn btn-primary">Add user</button>
        </form>

    </div>
</template>

<script>
export default {
    name: 'users-add',
    data() {
        return{
            user: {
                name: '',
                email: '',
                password: ''
            }
        }
    },
    methods: {
        storeUser(){
            this.$store.dispatch('storeUser', {
                name: this.user.name,
                email: this.user.email,
                password: this.user.password
            }).then(response => {
                this.$router.push({ name: 'usershome' });
            }).catch(error => {
                console.log(error);
            });
        }
    }
}
</script>
