<template>
    <div id="users-index">

        <h1>Users</h1>

        <router-link class="btn btn-primary mb-3" :to="{ name: 'usersadd' }">Add user</router-link>
        
        <table class="table" v-if="users">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th>Update</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>{{ user.updated_at }}</td>
                    <td>{{ user.credentials_count }}</td>
                </tr>
            </tbody>
        </table>
        <generic-loading v-else></generic-loading>

    </div>
</template>

<script>
export default {
    name: 'users-index',
    data() {
        return{
            users: false
        }
    },
    methods: {
        getUsers(){
            this.$store.dispatch('getUsers').then(response => {
                this.users = response.data;
            }).catch(error => {
                console.log(error);
            });
        }
    },
    mounted() {
        this.getUsers();
    }
}
</script>
