<template>
    <div id="credentials-show">

        <h1>Credentials Add</h1>

        <credentials-parts-mask v-model="credential" v-if="credential"></credentials-parts-mask>

    </div>
</template>

<script>
export default {
    name: 'credentials-show',
    data() {
        return{
            credential: {
                title: '',
                type: '',
                note: '',
                infos: {
                    other: []
                }
            }
        }
    }
}
</script>
