<template>
    <div id="credentials-index">

        <h1>Credentials</h1>

        <router-link class="btn btn-primary mb-3" :to="{ name: 'credentialsadd' }">Add Credentials</router-link>

        <credentials-parts-grid :credentials="credentialsList" v-if="credentials"></credentials-parts-grid>
        <generic-loading v-else></generic-loading>

    </div>
</template>

<script>
export default {
    name: 'credentials-index',
    data() {
        return{
            search: {
                type: null,
                key: null
            },
            credentials: false
        }
    },
    computed: {
        credentialsList(){
            return this.credentials;
        }
    },
    methods: {
        getCredentials(){
            this.$store.dispatch('getCredentials').then(response => {
                this.credentials = response.data;
            }).catch(error => {
                console.log(error);
            });
        }
    },
    mounted() {
        this.getCredentials();
    }
}
</script>

<style lang="css" scoped>
</style>
