<template>
    <div id="credentials-revision">

        <h1>Credentials Revision</h1>
        <credentials-parts-mask v-model="credential" v-if="credential"></credentials-parts-mask>

    </div>
</template>

<script>
export default {
    name: 'credentials-revision',
    data() {
        return{
            credential: false
        }
    },
    methods: {
        getCredential(){
            this.credential = false;

            this.$store.dispatch('getCredential', {
                id: this.$route.params.id
            }).then(response => {
                this.credential = response.data;
                this.credential.revision_of = this.$route.params.id;

                if( this.credential.infos.other == undefined ){
                    this.$set(this.credential.infos, 'other', []);
                }
            }).catch(error => {
                console.log(error);
            });
        }
    },
    mounted() {
        this.getCredential();
    }
}
</script>
