<template>
    <div id="credentials-show">

        <h1>Credentials Show</h1>

        <div class="row" v-cloak>
            <div class="col-lg">
                <router-link class="btn btn-primary" :to="{ name: 'credentialsrevision', params: { id: credential.id } }">Create a revision</router-link>

            </div>
            <div class="col-lg text-right" v-if="credential.score != undefined">

                <button class="btn btn-success" :disabled="hasVoted" @click="addVote(true)">
                    It works!
                    <span class="badge badge-light ml-3">{{ credential.score.positive }}</span>
                </button>
                <button class="btn btn-danger" :disabled="hasVoted" @click="addVote(false)">
                    F*** broken!
                    <span class="badge badge-light ml-3">{{ credential.score.negative }}</span>
                </button>
                <button class="btn btn-outline-secondary" disabled>Score: {{ credential.score.sum }}</button>

            </div>
        </div>

        <hr>

        <h2>{{ credential.title }}</h2>

        <div class="alert alert-warning" v-if="credential.revision">
            We had a revision:
            <router-link class="alert-link" :to="{ name: 'credentialsshow', params: { id: credential.revision} }">
                show the revision
            </router-link>
        </div>

        <ul>
            <li>Type: <code>{{ credential.type }}</code></li>
            <li>
                Infos:
                <ul>
                    <li v-for="info, label in credential.infos" v-if="label != 'other'">
                        {{ label }}: <code>{{ info }}</code>
                    </li>
                    <li v-else>
                        Others:
                        <ul>
                            <li v-for="other in info">
                                {{ other.name }} <code>{{ other.value }}</code>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- <pre>{{ credential }}</pre> -->

        <hr>

        <h4>Precompile</h4>

        <div class="form-group">
            <label for="client">Client or plugin</label>
            <select class="form-control" v-model="client">
                <optgroup label="Atom">
                    <option value="atomremoteftp">Remote FTP</option>
                    <option value="atomremotesync">Remote Sync</option>
                </optgroup>
                <optgroup label="Sublime">
                    <option value="sublimesftp">SFTP</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="json">JSON</option>
                </optgroup>
            </select>
        </div>

        <div class="compiled">
            <pre v-if="client == 'atomremoteftp'">{
                "protocol": "{{ credential.type }}",
                "host": "{{ credential.infos.host }}",
                "port": {{ credential.infos.port }},
                "user": "{{ credential.infos.username }}",
                "pass": "{{ credential.infos.password }}",
                "promptForPass": false,
                "remote": "{{ credential.infos.path }}",
                "local": "",
                "secure": false,
                "secureOptions": null,
                "connTimeout": 10000,
                "pasvTimeout": 10000,
                "keepalive": 10000,
                "watch": [ ],
                "watchTimeout": 500
            }</pre>
            <pre v-else-if="client == 'atomremotesync'">{
                "logger": {
                    "title": "Remote Sync"
                },
                "uploadOnSave": true,
                "useAtomicWrites": true,
                "deleteLocal": false,
                "hostname": "{{ credential.infos.host }}",
                "target": "{{ credential.infos.path }}",
                "ignore": [
                ".remote-sync.json",
                ".git/**",
                "node_modules/**"
                ".DS_Store"
                ],
                "username": "{{ credential.infos.username }}",
                "password": "{{ credential.infos.password }}",
                "watch": [ ],
                "transport": "{{ credential.type }}"
            }</pre>
            <pre v-else-if="client == 'sublimesftp'">{
                // The tab key will cycle through the settings when first created
                // Visit http://wbond.net/sublime_packages/sftp/settings for help

                // sftp, ftp or ftps
                "type": "{{ credential.type }}",

                "save_before_upload": true,
                "upload_on_save": true,
                "sync_down_on_open": false,
                "sync_skip_deletes": false,
                "sync_same_age": true,
                "confirm_downloads": false,
                "confirm_sync": true,
                "confirm_overwrite_newer": false,

                "host": "{{ credential.infos.host }}",
                "user": "{{ credential.infos.username }}",
                "password": "{{ credential.infos.password }}",
                "port": "{{ credential.infos.port }}",

                "remote_path": "{{ credential.infos.path }}",
                "ignore_regexes": [
                "\\.sublime-(project|workspace)", "sftp-config(-alt\\d?)?\\.json",
                "sftp-settings\\.json", "/venv/", "\\.svn/", "\\.hg/", "\\.git/",
                "\\.bzr", "_darcs", "CVS", "\\.DS_Store", "Thumbs\\.db", "desktop\\.ini"
                ],
                //"file_permissions": "664",
                //"dir_permissions": "775",

                //"extra_list_connections": 0,

                "connect_timeout": 30,
                //"keepalive": 120,
                //"ftp_passive_mode": true,
                //"ftp_obey_passive_host": false,
                //"ssh_key_file": "~/.ssh/id_rsa",
                //"sftp_flags": ["-F", "/path/to/ssh_config"],

                //"preserve_modification_times": false,
                //"remote_time_offset_in_hours": 0,
                //"remote_encoding": "utf-8",
                //"remote_locale": "C",
                //"allow_config_upload": false,
            }</pre>
            <pre v-else-if="client == 'json'">{{ credential }}</pre>
        </div>

    </div>
</template>

<script>
export default {
    name: 'credentials-show',
    data() {
        return{
            id: this.$route.params.id,
            credential: false,
            client: null
        }
    },
    computed: {
        hasVoted(){
            var usersVoted = _.flatMap(this.credential.votes, 'user_id');
            return (usersVoted.indexOf( this.currentUser.id ) != -1);
        },
        currentUser(){
            return this.$store.getters.currentUser;
        }
    },
    methods: {
        getCredential(){
            this.$store.dispatch('getCredential', {
                id: this.id
            }).then(response => {
                this.credential = response.data;
            }).catch(error => {
                console.log(error);
            });
        },
        addVote(working){
            this.$store.dispatch('storeVote', {
                credential_id: this.id,
                working: working
            }).then(response => {
                this.getCredential();
            }).catch(error => {
                console.log(error);
            });
        }
    },
    mounted() {
        this.getCredential();
    }
}
</script>
